#about{
  padding: 5rem 8rem;
}
.contentAbout{
  display: flex;   
  align-items: center;
  justify-content: center;
  gap: 2rem;

}
.titleAbout{
  font-size: 2rem;
  background-color:  rgba(255, 255, 255, 0.178);
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0rem 2rem;
  width: 50rem;
}
.infos img{
  width: 18rem; 
  border-radius: 1rem;
}
.descricaoAbout{
  margin-top: 2rem;
}
.aboutMe{
  font-size: 1.2rem;
  line-height: 2rem;
}

.cDownload {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 5rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.178);
  border: none;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  border-radius: 2rem;
  
}
.cDownload:hover{
  background-color: rgba(255, 255, 255, 0.637)
} 

.infos{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.email ion-icon, .number ion-icon{
  font-size: 1.5rem;
}
.emailNumber{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  
}
.emailNumber a{
  display: flex;
  align-items: center;
  gap: 0.5rem;
 color: white;
 transition: 0.5s;
}
.emailNumber a:hover{
  color: rgba(255, 255, 255, 0.349);
}

@keyframes upBar{
  0%{
      width: 0rem;
  }
}
